/* ----------------------------- */
/* 1. Réinitialisation et Arrière-plan */
/* ----------------------------- */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('./images/bg/bg_site.jpg') no-repeat center center fixed;
  background-size: cover;

  
  /* L'image couvre tout l'écran */
}

/* ----------------------------- */
/* 2. En-tête et Navigation */
/* ----------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(31, 42, 68);
  /* Fond sombre opaque */
  position: fixed;
  /* Fixe l'en-tête en haut */
  width: 100%;
  /* Prend toute la largeur */
  top: 0;
  max-height: 150px;
  z-index: 1000;
  /* Toujours au-dessus des autres éléments */
  align-items: left;
}



.logo {
  height: 150px;
  display: flex;
}

.site-title {
  font-size: 50px;
  font-family: 'ITC Benguiat';
  color: #f5da99;
  user-select: none;

  flex-direction: row;
}

/* Navigation (les boutons de l'en-tête) */
.tabs {
  display: flex;
  gap: 10px;
  
  /* Espacement entre les boutons */
}

.tabs a {
  padding:8px 20px;
  background: rgb(216, 96, 66);
  color: white;
  border: 1px solid rgb(216, 96, 66);
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  text-wrap: wrap;
  width: 100px;
  height: 25px;
  align-self: center;
  user-select: none;
  vertical-align: center;
  transition: 0.5s;
}

.tabs a:hover {
  background: rgb(31, 42, 68);
  color: rgb(216, 96, 66);
}

/* ----------------------------- */
/* Contrôle de la taille de l'écran */
/* ----------------------------- */

/* Écran large (ordinateur) */
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row; /* Empile les éléments verticalement */
    align-items: center; /* Centre horizontalement */
    padding: 30px 40px; /* Espacement plus grand sur grand écran */
  }
  
  .header-top{
    display: flex;
    align-items: center; /* Alignement vertical */
    gap: 0px; /* Espacement entre le logo et le titre */
  
    }

  .logo {
    height: 120px; /* Réduction du logo sur grands écrans */
  }
  
  .tabs{
    margin-right: 100px;
  }

  .tabs button {
    padding: 20px 40px; /* Boutons légèrement plus grands */
    font-size: 20px; /* Texte plus grand */
  }

}

/* Écran moyen (tablette) */
@media (max-width: 1023px) and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row; /* Empile les éléments verticalement */
    align-items: center; /* Centre horizontalement */
    padding: 15px 20px;
  }
  .header-top{
    display: flex;
    align-items: center; /* Alignement vertical */
    gap: 0px; /* Espacement entre le logo et le titre */
  
    }

  .logo {
    height: 100px; /* Taille du logo pour tablettes */
  }

  .tabs {
    gap: 5px; /* Espacement réduit */
    margin-right: 100px;
    justify-content: center;
  }

  .tabs button {
    padding: 40px;
    font-size: 40px; /* Texte plus petit */

  }

  .tabs a {

    padding : 10px 5px; /*Ajustement taille des boutons pour tablette */
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .site-title {
    font-size: 40px; /* Taille du titre réduite */
    text-align: center;
    flex-direction: row;

  }
}

/* Écran petit (téléphone) */
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre horizontalement */
    padding: 10px;
  }

.header-top{
  display: flex;
  align-items: center; /* Alignement vertical */
  gap: 0px; /* Espacement entre le logo et le titre */

  }


  .logo {
    height: 80px; /* Taille réduite sur mobile */
  }

  .tabs {
    flex-wrap: wrap;
    justify-content: center;
    gap : 4px;
  }

  .tabs button {
    padding: 30px;
    font-size: 30px; /* Texte plus petit */
  }

  .site-title {
    font-size: 30px; /* Ajustement pour mobile */
    text-align: center;
    flex-direction: row;
  
  }

  .tabs a {
    padding : 0px 0px; /*Ajustement taille des boutons pour mobile */
    flex-wrap : wrap
  }
}

/* ----------------------------- */
/* 3. Effet Parallaxe */
/* ----------------------------- */
.parallax {
  background-image: url('images/bg/foodwars.jpeg');
  min-height: 300px;
  max-height: 300px;
  /* Hauteur définie */
  background-attachment: fixed;
  /* Effet de défilement parallaxe */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------------- */
/* 4. Section des Bannières Défilantes */
/* ----------------------------- */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  overflow: visible;


}

.slider-container {
  width: 100%;
  overflow: visible;
  overflow: auto;
}




.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* Animation de défilement */
  gap: 10px;
}


.banner{

  /* Affiche 3 bannières par vue */
  
  height: 600px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;


}
.banner-lundi {

  /* Affiche 3 bannières par vue */
  min-height: 500px;
  max-height: 500px;
  min-width: 281px;
  
  background-image: url('./images/teaser/lundi2.png');
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.banner-lundi:hover {
  transform: scale(1.05);
  /* Agrandissement au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.banner-mardi {
  min-height: 500px;
  max-height: 500px;
  min-width: 281px;
  
  background-image: url('./images/teaser/mardi.png');
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.banner-mardi:hover {
  transform: scale(1.05);
  /* Agrandissement au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.banner-mercredi {
  min-height: 500px;
  max-height: 500px;
  min-width: 281px;
  
  background-image: url('./images/teaser/mercredi.png');
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.banner-mercredi:hover {
  transform: scale(1.05);
  /* Agrandissement au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.banner-jeudi {
  min-height: 500px;
  max-height: 500px;
  min-width: 281px;
  
  background-image: url('./images/teaser/jeudi.png');
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.banner-jeudi:hover {
  transform: scale(1.05);
  /* Agrandissement au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.banner-vendredi {
  min-height: 500px;
  max-height: 500px;
  min-width: 281px;
  
  background-image: url('./images/teaser/vendredi.png');
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.banner-vendredi:hover {
  transform: scale(1.05);
  /* Agrandissement au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}


/* Boutons de contrôle pour les bannières */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 20;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

.slider-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* ----------------------------- */
/* 5. Boutons Animés "Espace" */
/* ----------------------------- */
.space-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
  height: 200px;
  overflow: hidden;
  @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
  }
}

.space-abutton{
  text-decoration: none;
}

.space-button {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  border: 2px solid #ddd;
  padding: 20px 40px;
  font-size: 16px;
  @media (max-width: 767px) {
    padding: 10px 20px;
}
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spaceMovement 10s infinite ease-in-out;
  transform-style: preserve-3d;
}

.space-button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* ----------------------------- */
/* 6. Popup (Superposition) */
/* ----------------------------- */
.popup-overlay {
  display: none;
  /* Masquée par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  /* Plus haut niveau d'affichage */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.popup-close:hover {
  color: rgb(255, 0, 0);
}

/* ----------------------------- */
/* 7. Bannières Statistiques (Large Banners) */
/* ----------------------------- */
.large-banners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width:400px;
}

.banner-item {
  position: relative;
  width: 800px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.banner-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 20px;
  border-radius: 12px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap; /* Empêche le texte de revenir à la ligne */
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.banner-price{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 20px;
  border-radius: 12px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap; /* Empêche le texte de revenir à la ligne */
}

.tab h4{
  font-size : 25px;
  color: rgba(0, 0, 0, 0.5);
}


/* ----------------------------- */
/* 8. Section Programme de la Semaine */
/* ----------------------------- */
.weekly-program {
  margin-top: 40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.weekly-program h2 {
  text-align: center;
  font-size: 24px;
  color: #f5da99;
}

.weekly-program ul {
  list-style: none;
  padding: 0;
}

.weekly-program li {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #333;
}

.weekly-program li strong {
  color: rgb(255, 84, 41);
}

/* ----------------------------- */
/* 9. Onglets (Tabs) */
/* ----------------------------- */
.tab-panels {
  margin: 20px;
}

.tab {
  display: block;
  padding: 20px;
  padding-top: 120px;
  background: #f5d9995f;
  backdrop-filter: blur(10px);
  background-blend-mode: overlay;
  border-radius: 8px;
}

.tab h2 {
  text-align: center;
  font-size: 24px;
  color: #333;

  /* MODIFS TEXTE */
  position: relative;
  font-size: 3em;
  letter-spacing: 2px;
  color: #f5da99;
  text-transform: uppercase;
  width: 100%;
  line-height: 0.9em;
  outline: none;
    /* Ombre sous le texte */
  
}









.tab li{
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 18px;
  color: #333;
}


/* ----------------------------- */
/* 10. Bouton "commander"        */
/* ----------------------------- */
#order {
  position: fixed;
  display: block;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
  user-select: none;
  padding: 15px;
  background-color: rgb(216, 96, 66);
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  z-index: 3000;
}

#order:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ----------------------------- */
/* 11. Fenetre modale            */
/* ----------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 52, 52, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
}

.modal-content h2 {
  margin-top: 0;
}

.close-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.close-btn:hover {
  background-color: #c0392b;
}

input, textarea, button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* ----------------------------- */
/* 12. Gallerie equipe           */
/* ----------------------------- */
.imgeqip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(1.5em);
  padding: 20px;
  padding-top: 120px;
  background: #f5d9995f;
  backdrop-filter: blur(10px);
  background-blend-mode: overlay;
  border-radius: 8px;
  margin-top: 20px;
}

div.gallery {
  background: rgb(31, 42, 68);
  gap: 10px;
  padding: 10px;
  width:fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 2px solid #f5da99;
  transition: 0.5s;
  margin-bottom: 60px;
  margin-right: 2px;
}

div.gallery:hover {
  background: #f5da99;
}

div.gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

div.desc {
  color: #333;
  font-size: 18px;
  background: #f5da99;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  div.gallery img{
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .imgeqip {
    margin-top: 150px;
  }
  div.gallery img{
    width: 100%;
  }
}

/* ----------------------------- */
/* 13. Gform                     */
/* ----------------------------- */
.gform-container{
  display : flex;
  align-items: center;
  margin-top : 100px;
  min-width : 1em;
  background: #f5da99;
  background-size: cover;
  backdrop-filter: blur(5px);
}
